.sidebar-container {
  max-width: 250px;
  background-color: #1e1e2f;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  padding: 10px;
  color: white;
}

.logo-container {
  /* margin: 0 1rem 0 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  max-width: 100%;
}

.logo-container h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.side-items-ul {
  ul {
    list-style: none;
  }

  .side-item-li {
    height: 2rem;
    align-content: center;
    align-items: center;
    padding: 15px;
  }

  .side-item-logo {
    margin-right: 1.5rem;
    width: 20px;
  }

  .side-item-li:hover{
    border: 1px solid rgba(0, 255, 255, 0.863);
    width: 150px;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.475);
    cursor: pointer;
  }
}

.footer-part {
  margin-top: 15rem;
}

.footer-part p {
  font-size: 10px;
}
