.container {
  margin-left: 15vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

table td,
table th {
  border: 1px solid #565454;
  font-size: 13px;
  text-align: center;
  width: 20px;
  padding: 5px;
}

table th {
  background-color: #ffffff;
  font-weight: bold;
}

.table-container {
  border: 1px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow-x: auto;
}

.table-header-row {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  background-color: #bdbcbc;
}

.table-body-td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table-body-tr :hover {
  background-color: #bdbcbc;
  cursor: pointer;
}

header {
  min-height: 2rem;
}

.header-h1-other{
  margin-left: -5rem;
}

.add-button-section {
  min-height: 2rem;
}

/* .add-button {
  padding: 3%;
  width: 10rem;
  background-color: rgb(40, 138, 40);
  border: 0.5px solid black;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
}

.add-button :hover {
  background-color: rgb(29, 101, 29);
  cursor: pointer;
  border: 0.5px solid black;
} */

.footer-part {
  margin-top: 28vw;
  font-size: 10px;
  overflow-x: auto;
}

.container-item {
  justify-self: center;
}

.table-item {
  border-collapse: collapse;
  margin-left: 5rem;

  thead {
    font-size: 15px;
  }

  th {
    background-color: #bdbdbd;
  }

  th,
  td {
    width: 250px;
  }

  th:hover {
    cursor: not-allowed;
  }

  td:hover {
    cursor: pointer;
  }
}

.container-item {
  justify-self: center;
}

.container-category {
  min-height: 80vh;
}

.table-category {
  border-collapse: collapse;
  margin-left: 5rem;

  thead {
    font-size: 15px;
  }

  th,
  td {
    width: 250px;
  }

  th {
    background-color: #bdbdbd;
  }

  th:hover {
    cursor: not-allowed;
  }

  td:hover {
    cursor: pointer;
  }
}

header {
  .header-h1 {
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
  }

  .header-h2 {
    display: flex;
    flex-direction: column;
    margin-left: -3rem;
    margin-top: 0rem;
  }
}

.item-container {
  margin-top: -3rem;
}

.add-button-section {
  .add-button {
    margin-left: 5rem;
    background-color: #1e1e2f;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 1rem;
    border: none;
    min-width: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  .add-button:hover {
    background-color: #33334d;
    color: #00d4ff;
    border-radius: 2px;
    cursor: pointer;
  }
}

.container-items-inventory {
  justify-self: center;
}

.table-items-inventory {
  border-collapse: collapse;
  margin-left: 5rem;

  thead {
    font-size: 15px;
  }

  th,
  td {
    width: 250px;
  }

  th {
    background-color: #bdbdbd;
  }

  th:hover {
    cursor: not-allowed;
  }

  td:hover {
    cursor: pointer;
  }
}

.table-invoice-item {
  border-collapse: collapse;
  min-width: 350px;
  border: 2px solid #ccc;
  margin-left: 1rem;
}

thead {
  height: 2rem;
}

.th-table-name {
  width: 50%;
}

.th-table-qty {
  width: 10%;
}

.th-table-discount {
  width: 10%;
}

.th-table-total {
  width: 30%;
}

.print-delete-area {
  gap: 2rem;
}

.popup-container {
  min-height: 20vh;
}

.header-category-h1 {
  margin-left: -5.5rem;
}

/* .button-container-ia {
  button {
    width: 20rem;
    padding: 10px;
    margin: 20px;
  }
} */

.item-update-button-ia {
  background-color: #1e1e2f;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  width: 20rem;
  font-size: 15px;
  min-width: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2rem;
  color: white;
}

.item-update-button-ia:hover {
  background-color: #2ea430;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.item-delete-button-ia {
  background-color: #1e1e2f;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  width: 20rem;
  margin: 30px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.item-delete-button-ia:hover {
  background-color: #790000;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}



.container-items-with-summary {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  padding: 10px;
  max-width: 100%;
  margin-left: 5rem;
  overflow-x: auto; 
}

.total-items {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 17rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px; 
}

.total-item-header {
  font-size: 1rem;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: 500;
}

.total-items p {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
  margin: 0;
}

.total-items:last-child {
  border: 2px solid #ffcccc; 
  background-color: #fff5f5; 
}

.total-items:last-child .total-item-header {
  color: #e74c3c; 
}

.total-items:last-child p {
  color: #e74c3c; 
}


@media (max-width: 768px) {
  .container-items-with-summary {
    flex-direction: column;
    align-items: center;
  }

  .total-items {
    width: 50%; 
    max-width: 150px;
    margin-bottom: 20px;
  }

  .total-items:last-child {
    margin-bottom: 0; 
  }
} 


.overview-container{
  header {
    h1{
      text-align: left;
      margin-left: -12rem;
    }
  }
}

.item-page-container{
  header{
    h1{
      margin-left: -11rem;
    }
  }
}

.text-green {
  background-color: #f8fff5;
  color: #1a691c;
}

.text-red {
  background-color: #fff5f5;
  color: #e74c3c;
}