.container {
  margin-left: 15vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

table td,
table th {
  border: 1px solid #565454;
  font-size: 13px;
  text-align: center;
  width: 20px;
  padding: 5px;
}

table th {
  background-color: #ffffff;
  font-weight: bold;
}

.table-container {
  border: 1px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow-x: auto;
}

.table-header-row {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  background-color: #bdbcbc;
}

.table-body-td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table-body-tr :hover {
  background-color: #bdbcbc;
  cursor: pointer;
}

header {
  min-height: 2rem;
}

.add-button-section {
  min-height: 2rem;
}

/* .add-button {
  padding: 3%;
  width: 10rem;
  background-color: rgb(40, 138, 40);
  border: 0.5px solid black;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
}

.add-button :hover {
  background-color: rgb(29, 101, 29);
  cursor: pointer;
  border: 0.5px solid black;
} */

.footer-part {
  margin-top: 28vw;
  font-size: 10px;
  overflow-x: auto;
}

.container-item {
  justify-self: center;
}

.table-item {
  border-collapse: collapse;
  margin-left: 5rem;

  thead {
    font-size: 15px;
  }

  th {
    background-color: #bdbdbd;
  }

  th,
  td {
    width: 250px;
  }

  th:hover {
    cursor: not-allowed;
  }

  td:hover {
    cursor: pointer;
  }
}

.container-item {
  justify-self: center;
}

.container-category {
  min-height: 80vh;
}

.table-category {
  border-collapse: collapse;
  margin-left: 5rem;

  thead {
    font-size: 15px;
  }

  th,
  td {
    width: 250px;
  }

  th {
    background-color: #bdbdbd;
  }

  th:hover {
    cursor: not-allowed;
  }

  td:hover {
    cursor: pointer;
  }
}

header {
  .header-h1 {
    margin-left: 5rem;
  }
}

.add-button-section {
  .add-button {
    margin-left: 5rem;
    background-color: #1e1e2f;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 1rem;
    border: none;
    min-width: 10rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }

  .add-button:hover {
    background-color: #33334d;
    color: #00d4ff;
    border-radius: 2px;
    cursor: pointer;
  }
}

.container-items-inventory {
  justify-self: center;
}

.table-items-inventory {
  border-collapse: collapse;
  margin-left: 5rem;

  thead {
    font-size: 15px;
  }

  th,
  td {
    width: 250px;
  }

  th {
    background-color: #bdbdbd;
  }

  th:hover {
    cursor: not-allowed;
  }

  td:hover {
    cursor: pointer;
  }
}
