.input-container {
  position: relative;
  margin: 20px;
  width: 300px;
}

.item-input {
  width: 20rem;
  padding: 10px;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  font-family: "Courier New", Courier, monospace;
}

.item-input:focus {
  border-color: #01162c;
}

.placeholder {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #2a2a2a;
  pointer-events: none;
  transition: all 0.3s ease;
}

.item-input:focus + .placeholder,
.item-input:not(:placeholder-shown) + .placeholder {
  top: 0;
  font-size: 12px;
  color: #01162c;
  background: #fff;
  padding: 0 5px;
  transform: translateY(-50%);
}

.add-button-item {
  background-color: #1e1e2f;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  width: 20rem;
  font-size: 15px;
  min-width: 10rem;
  font-family: "Courier New", Courier, monospace;
  margin-left: 2rem;
  color: white;
}

.add-button-item:hover {
  background-color: #33334d;
  color: #00d4ff;
  border-radius: 2px;
  cursor: pointer;
}

.input-container {
  option {
    font-family: "Courier New", Courier, monospace;
    width: 21.5rem;
    padding: 10px;
    font-size: 15px;
  }
  select {
    font-family: "Courier New", Courier, monospace;
    width: 21.5rem;
    padding: 10px;
    font-size: 15px;
  }
}
header {
  min-height: 2rem;
  .header-h2 {
    margin-left: 5rem;
  }
}

.button-container {
  display: flex;
}

.item-delete-button {
  background-color: #1e1e2f;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  width: 9rem;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 2rem;
  color: white;
}

.item-delete-button:hover {
  background-color: #790000;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.item-update-button {
  background-color: #1e1e2f;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  width: 9rem;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 2rem;
  color: white;
}

.item-update-button:hover {
  background-color: #33334d;
  color: #00d4ff;
  border-radius: 2px;
  cursor: pointer;
}
