.report-container{
    
}

.report-area{
    
}

.report-header{
    margin-left: 20%;
    display: flex;
}

.fa-arrow-left{
    margin-top: 2rem;
    margin-right: 30%;
    
}

.fa-arrow-left:hover{
    cursor: pointer;
}

.report{
    margin-left: 10%;
}   

